# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build
Makefile
CMakeFiles
CMakeCache.txt
cscfg.h
*.cmake
*.orig
bin/
build/
staging/

# Tags/CScope
tags
TAGS
cscope.*
